/* header 
#header {margin-bottom:15px;}
*/
#header h1 a {
	color: #3276B1;
	text-decoration: none
}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 1px solid #999;
}

#footer a {color: #999;}

.box_shadow{
    -moz-box-shadow:1px 3px 3px #666;
    -webkit-box-shadow:1px 3px 3px #666;
    box-shadow:1px 3px 3px #666;
    position:relative;
    behavior:url(pie.htc);
}

span.error {
  padding-left: 0px;
  margin-left: 0.5em;
  color: red;
} 

div.error { display: none; }
input.checkbox { border: none }
input.error { border: 1px dotted red; }

div.container ol li {
	list-style-type: none;
}
div.container { display: none }

body{
	font-size: 12px;
	min-width: 1250px;
 	width: expression_r( document.body.clientWidth < 1250 ? "1250px" : "auto" );
 	/* background-image: url("img/bg_d.png");*/
}

.js, .js body {overflow:hidden}
.js body > * {visibility:hidden}
.js #loading_layer {visibility:visible;display:block !important;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:10000}
.js #loading_layer img {position:fixed;top:50%;left:50%;width:64px;height:10px;margin:-5px 0 0 -32px}
.js .tab-pane {display:block !important}
.js .hide {display: inherit}

.textCenter{
			text-align: center;
		}

.inputBorder{
	border: 1px solid #C1C1C1;
	height: 25px;
}

